@import "./css-reset";
@import "./mixins";
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

$dark-blue: #114b5f;
$primary-blue: #456990;
$accent-invalid: #f45b69;
$accent-valid: #e4fde1;

input[type="file"] {
  display: none;
}

body,
input,
textarea,
button {
  font-family: "Spartan", Arial, sans-serif;
  color: #424242;
}

.custom-file-upload {
  height: 2.5em;
  margin: 1em 0.5em 0.5em;
  padding-top: 0.6em;
  background-color: $dark-blue;
  color: white;
  border: 2px solid $primary-blue;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  @include scale-up-transition();

  &:hover {
    @include hover-scale-up();
  }
}

.book-form {
  padding: 1em;
  width: 40%;
  min-width: 20em;
  margin: auto;
  font-weight: bold;

  &__element {
    margin: 0.5em auto;
    padding: 0.5em;
    width: 50%;
    min-width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    margin: 1em;
  }

  &__input {
    font-size: 1.1em;
    height: 2.5em;
    margin: 0.5em;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid $primary-blue;

    &:focus,
    :active {
      outline: 3px solid $dark-blue;
    }

    &:valid {
      background: $accent-valid;
    }

    &:invalid {
      background: $accent-invalid + 99;
    }
  }

  &__control {
    width: 50%;
    min-width: 15em;
    margin: 0.5em auto;
    padding: 1em;
    display: flex;
    justify-content: space-around;
  }

  &--hidden {
    display: none;
  }
}

.book-form:not(.book-form--hidden) {
  animation: drop-down 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.book__card {
  min-height: 700px;
  border: 1px solid $primary-blue;
  border-radius: 4px;
  padding: 1em;
  margin: 1em 1em 2em;
  flex-basis: 25em;
  text-align: center;
  background: rgb(255, 255, 255);
  @include scale-up-transition();

  &:hover {
    @include hover-scale-up();
  }
  &__title {
    font-size: 1.7em;
    color: $dark-blue;
    margin: 1em;
  }

  &__author {
    font-size: 1.4em;
    font-style: italic;
    color: $primary-blue;
    margin: 1em;
  }

  &__cover {
    width: 50%;
    height: 40%;
    margin-bottom: 1em;
    border: 1px solid $primary-blue;
    box-shadow: 3px 2px 3px $dark-blue;
  }

  &__pages {
    color: $dark-blue;
    width: 80%;
    margin: auto;
    padding: 1em;
    border-bottom: 1px solid $dark-blue;
  }

  &__status {
    color: $primary-blue;
    font-weight: bold;
    padding: 1em;
  }

  &__controls {
    display: flex;
    width: 80%;
    margin: 1em auto auto;
    justify-content: space-around;
  }
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.8em 0.6em 0.6em;
  margin: auto;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease-out;
  height: 3em;
  min-width: 5em;
  @include scale-up-transition();

  &:hover {
    @include hover-scale-up();
  }

  &:focus,
  :active {
    outline: 2px solid $dark-blue;
  }

  &__form-toggle {
    // display: none;
    width: 10vw;
    min-width: 8em;
    height: 5vh;
    margin: 5em auto;
  }

  &--primary {
    background-color: $primary-blue;
    color: white;
    border: 1px solid $dark-blue;
  }

  &--secondary {
    background-color: white;
    color: $primary-blue;
    border: 1px solid $primary-blue;
  }

  &--hidden {
    display: none;
  }
}

.header {
  text-align: center;
  background-color: $dark-blue;
}

.header-title {
  padding: 1em;
  color: white;
}

.input-container {
  min-height: 20vh;
  margin-bottom: 1em;
  height: auto;
  text-align: center;
}

.main-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@keyframes drop-down {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(-50%);
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and( max-width: 500px) {
  .book__card__controls {
    flex-direction: column;
    margin: auto;

    .button {
      margin: 1em;
    }
  }
}
